# Dependencies
node_modules/*

# Build Output
dist/*
build/*

# System Files
.DS_Store
Thumbs.db

# User Data / Database
# Assuming you don't want to commit your personal recipe database to the public code repo
Database/*
*.json.bak

# Local Configuration
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backups
*.old
*.bak
renderer.js.old
